{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@safe-global/protocol-kit": "@gateway-fm/protocol-kit",
          "@safe-global/api-kit": "@gateway-fm/api-kit",
          "@safe-global/relay-kit": "@gateway-fm/relay-kit",
          "@safe-global/types-kit": "@gateway-fm/types-kit",
          "@safe-global/sdk-starter-kit": "@gateway-fm/sdk-starter-kit",
          "@safe-global/testing-kit": "@gateway-fm/testing-kit"
        }
      }
    ]
  ]
}